{% extends 'base.html.twig' %}

{% block content %}
    <div>
        <h1>Projet de blog utilisant Redis</h1>
        <p>Ceci est un petit test pour apprendre a connaitre une base de données no sql, ici redis.</p>
        <a class="btn btn-info" href="{{ path('login') }}">Me connecter</a>
        <a class="btn btn-info" href="{{ path('register')}}">M'enregistrer</a>
    </div>
{% endblock %}