{% extends 'base.html.twig' %}

{% block content %}
    <div>
        <h1>Se connecter</h1>
    </div>
    <div>
        <form method="post" action="">
            <div class="form-group">
                <label for="username">Pseudo</label>
                <input class="form-control" type="text" name="username">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input class="form-control" type="text" name="password">
            </div>
            <button class="btn btn-info" type="submit">Valider</button>
        </form>
    </div>
{% endblock %}