<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Test utilisation Redis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/retwis-replica/public/style.css">
</head>
<body>
<div class="container p-3 home-container mt-5">
    {% block content %}{% endblock %}
</div>
</body>
</html>