<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Test utilisation Redis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/retwis-replica/public/style.css">
</head>
<body>
    <div class="container p-3 home-container mt-5">
        <div>
            <h1>S'enregistrer</h1>
            <p>Ceci est un petit test pour apprendre a connaitre une base de données no sql, ici redis.</p>
        </div>
        <div>
            <form method="post" action="../register.php">
                <label for="username">username</label>
                <input type="text" name="username">
                <br>
                <label for="password">password</label>
                <input type="text" name="password">
                <br>
                <button class="btn btn-info" type="submit">valider</button>
            </form>
        </div>
    </div>
</body>
</html>